		<!--content-->
		<div class="content">
		
			<div class="main">
				
						<div class="wrapper-box module">
                           <div class="clear">
                     <div class="boxIndent">
                        <div class="box-top">
	<div class="box-top-bg">
		<div class="wrapper">
			<img src="{{ MEDIA_URL }}images/image1.png" alt="alt" />
			<div>
				<span>Programa&ccedil;&atilde;o de Viagens</span>
				<strong>Rio de Janeiro, Brasil</strong>
			</div>
			<a href="/joomla_35171/index.php?option=com_content&amp;view=article&amp;id=117&amp;Itemid=58">Outros destinos</a>
		</div>
	</div>
</div>                    </div>
               </div>  
		</div>
	
				
				<div class="wrapper">
					<!--right-->
										<div id="right">
								<div class="wrapper-box module">
                           <div class="boxTitle">
                    <div class="title">
							<div class="right-bg">
							<div class="left-bg"><h3 >Fotos</h3></div>
							</div>
						</div>
                 </div>
                                <div class="clear">
                     <div class="boxIndent">
                        <img src="{{ MEDIA_URL }}images/image1.jpg" alt="alt" />
<div class="indent">
	<h4>Cota&ccedil;&otilde;es</h4>
	Clique no bot&atilde;o abaixo para saber a cota&ccedil;&atilde;o das moedas de todos os pa&iacute;ses do Oriente M&eacute;dio.
	<div class="readon-indent"><a href="#" class="readon">Saiba mais</a></div>
</div>
<div class="banner"><div><p><strong>Vistos</strong><span>como tirar</span></p><a href="#">aqui</a></div></div>                    </div>
               </div>  
		</div>
	
					</div>
										<!--left-->						
										<!--center-->
					<div id="content">
						<div class="container" >
							<div class="wrapper">
																<table class="blogfirst-page" cellpadding="0" cellspacing="0">
                </table>

							</div>
																<div class="wrapper-box module">
                           <div class="clear">
                     <div class="boxIndent">
                        

<div class="gk_tab gk_tab-style1 clearfix-tabs" id="tabmix1">
	<div class="gk_tab_wrap-style1 clearfix-tabs" style="">
			
    <ul class="gk_tab_ul-style1">
            <li id="tabmix1_tab_1"><span>Todos destinos</span></li>
            <li id="tabmix1_tab_2"><span>Fale conosco</span></li>
            <li id="tabmix1_tab_3"><span>Como tirar visto?</span></li>
            <li id="tabmix1_tab_4"><span>Dicas</span></li>
        </ul>
                
	<div class="gk_tab_container0-style1" style="height: 299px;">
        <div class="gk_tab_container1-style1 clearfix-tabs" style="height: 299px;">
            <div class="gk_tab_container2-style1 clearfix-tabs">
                
<div class="gk_tab_item-style1" style="height: 299px;">
	<div class="gk_tab_item_space">
	<div class="wrapper tabs">
	<img src="{{ MEDIA_URL }}images/image1.png" alt="alt" />
	<h3>Las Vegas, NV</h3>
	<ul class="list">
		<li><a href="#">Palms Place Hotel at the Palms $129</a></li>
		<li><a href="#">Tuscany Suites & Casino $20</a></li>
		<li><a href="#">South Point Hotel, Casino, and Spa $42</a></li>
		<li><a href="#">The Palms Casino Resort $ 200</a></li>
		<li class="last"><a href="#">Hotel Bijou  $119</a></li>
	</ul>
</div>	</div>
</div>
<div class="gk_tab_item-style1" style="height: 299px;">
	<div class="gk_tab_item_space">
	<div class="wrapper tabs">
	<img src="{{ MEDIA_URL }}images/image2.png" alt="alt" />
	<h3>Las Vegas, NV</h3>
	<ul class="list">
		<li><a href="#">Palms Place Hotel at the Palms $129</a></li>
		<li><a href="#">Tuscany Suites & Casino $20</a></li>
		<li><a href="#">South Point Hotel, Casino, and Spa $42</a></li>
		<li><a href="#">The Palms Casino Resort $ 200</a></li>
		<li class="last"><a href="#">Hotel Bijou  $119</a></li>
	</ul>
</div>	</div>
</div>
<div class="gk_tab_item-style1" style="height: 299px;">
	<div class="gk_tab_item_space">
	<div class="wrapper tabs">
	<img src="{{ MEDIA_URL }}images/image3.png" alt="alt" />
	<h3>Las Vegas, NV</h3>
	<ul class="list">
		<li><a href="#">Palms Place Hotel at the Palms $129</a></li>
		<li><a href="#">Tuscany Suites & Casino $20</a></li>
		<li><a href="#">South Point Hotel, Casino, and Spa $42</a></li>
		<li><a href="#">The Palms Casino Resort $ 200</a></li>
		<li class="last"><a href="#">Hotel Bijou  $119</a></li>
	</ul>
</div>	</div>
</div>
<div class="gk_tab_item-style1" style="height: 299px;">
	<div class="gk_tab_item_space">
	<div class="wrapper tabs">
	<img src="{{ MEDIA_URL }}images/image4.png" alt="alt" />
	<h3>Las Vegas, NV</h3>
	<ul class="list">
		<li><a href="#">Palms Place Hotel at the Palms $129</a></li>
		<li><a href="#">Tuscany Suites & Casino $20</a></li>
		<li><a href="#">South Point Hotel, Casino, and Spa $42</a></li>
		<li><a href="#">The Palms Casino Resort $ 200</a></li>
		<li class="last"><a href="#">Hotel Bijou  $119</a></li>
	</ul>
</div>	</div>
<div class="gk_tab_item-style1" style="height: 299px;">
	<div class="gk_tab_item_space">
	<div class="wrapper tabs">
	<img src="{{ MEDIA_URL }}images/egito-1-400x300.png" alt="alt" />
	<h3>Las Vegas, NV</h3>
	<ul class="list">
		<li><a href="#">Palms Place Hotel at the Palms $129</a></li>
		<li><a href="#">Tuscany Suites & Casino $20</a></li>
		<li><a href="#">South Point Hotel, Casino, and Spa $42</a></li>
		<li><a href="#">The Palms Casino Resort $ 200</a></li>
		<li class="last"><a href="#">Hotel Bijou  $119</a></li>
	</ul>
</div>	</div>
</div>            </div>
        </div>
    </div>
      
	</div>
	
		
</div>
<div class="clearfix-tabs"></div>


                    </div>
               </div>  
		</div>
			<div class="wrapper-box module-carousel">
                           <div class="boxTitle">
                    <div class="title">
							<div class="right-bg">
							<div class="left-bg"><h3 >Roteiros</h3></div>
							</div>
						</div>
                 </div>
                                <div class="clear">
                     <div class="boxIndent">
                        <div class="carousel">
	<ul id="carousel">
		<li><a href="#"><img src="{{ MEDIA_URL }}images/image1.png" alt="" /></a></li>
		<li><a href="#"><img src="{{ MEDIA_URL }}images/image2.png" alt="" /></a></li>
		<li><a href="#"><img src="{{ MEDIA_URL }}images/image3.png" alt="" /></a></li>
		<li><a href="#"><img src="{{ MEDIA_URL }}images/image4.png" alt="" /></a></li>
		<li><a href="#"><img src="{{ MEDIA_URL }}images/image5.png" alt="" /></a></li>
		<li><a href="#"><img src="{{ MEDIA_URL }}images/image6.png" alt="" /></a></li>
	</ul>
</div>                    </div>
               </div>  
		</div>
	
													</div>					
					</div>
				</div>
				
			</div>
