<div id="row">
				<div class="row-top">
					<div class="col-1 col-indent">
								<div class="wrapper-box module-menu">
                           <div class="boxTitle">
                    <div class="title">
							<div class="right-bg">
							<div class="left-bg"><h3 >Destinos</h3></div>
							</div>
						</div>
                 </div>
                                <div class="clear">
                     <div class="boxIndent">
                        <ul class="menu"><li class="item148"><a><span>Rio de Janeiro</span></a></li><li class="item149"><a><span>Jord&acirc;nia</span></a></li><li class="item150"><a><span>Turquia</span></a></li><li class="item151"><a><span>Emirados &Aacute;rabes</span></a></li><li class="item152"><a><span>Syria</span></a></li><li class="item153"><a><span>Egito</span></a></li></ul>                    </div>
               </div>  
		</div>
	
					</div>
					<div class="col-1 col-indent">
								<div class="wrapper-box module-menu">
                           <div class="boxTitle">
                    <div class="title">
							<div class="right-bg">
							<div class="left-bg"><h3 >deals & offers</h3></div>
							</div>
						</div>
                 </div>
                                <div class="clear">
                     <div class="boxIndent">
                        <ul class="menu"><li class="item154"><a><span>The Homestead Evanston</span></a></li><li class="item155"><a><span>The Allerton Hotel on Magnificent Mile</span></a></li><li class="item156"><a><span>The James Chicago Hotel</span></a></li><li class="item157"><a><span>Best Western University Plaza</span></a></li><li class="item158"><a><span>COVA Hotel</span></a></li><li class="item159"><a><span>Hilton San Francisco</span></a></li></ul>                    </div>
               </div>  
		</div>
	
					</div>
					<div class="col-2">
								<div class="wrapper-box module-menu">
                           <div class="boxTitle">
                    <div class="title">
							<div class="right-bg">
							<div class="left-bg"><h3 >trip ideas</h3></div>
							</div>
						</div>
                 </div>
                                <div class="clear">
                     <div class="boxIndent">
                        <ul class="menu"><li class="item160"><a><span>Adventure</span></a></li><li class="item161"><a><span>All-inclusive Beach Disney Family Green</span></a></li><li class="item162"><a><span>Sustainable Golf &amp; Spa</span></a></li><li class="item163"><a><span>Insiders' Select LGBT</span></a></li><li class="item164"><a><span>Local Escapes Luxury Holidays</span></a></li><li class="item165"><a><span>Mountain National Parks</span></a></li></ul>                    </div>
               </div>  
		</div>
	
					</div>
				</div>
			</div>	